In [1]:
import pandas as pd

In [2]:
# data = pd.read_csv('../data/curated/final_model/5_vars_MeanStdsdCorrLoyalPersona.csv')
data = pd.read_csv('../data/curated/final_model/5_vars_SharpeCorrGrowthLoyalPersona.csv')
# data = pd.read_csv('../data/curated/final_model/5_vars_StdmeanSdCorrLoyalPersona.csv')

In [3]:
data.sort_values(['sharpe_ratio'],ascending=False)

                                  all_combos  sharpe_ratio
0                  [1, 100, 1, 0.0001, 0.01]     12.902397
23               [100, 10000, 100, 0.01, -1]     12.902397
26             [100, 10000, 100, 0.01, 0.01]     12.902397
27                [100, 10000, 100, 0.01, 1]     12.902397
28         [100, 10000, 100, -0.01, -0.0001]     12.902397
...                                      ...           ...
99948        [-100, -0.0001, -1, -10000, -1]      1.467340
99947  [-10000, -0.0001, -100, -10000, -100]      1.467340
99946  [-10000, -0.0001, -100, 0.0001, -100]      1.467340
99945        [-1, -0.0001, -0.01, -1, -0.01]      1.467340
99999   [-10000, 0.0001, -100, 0.0001, -100]      1.467340

[100000 rows x 2 columns]

In [4]:
data = data[data['sharpe_ratio'] == data.sort_values(['sharpe_ratio'],ascending=False)['sharpe_ratio'][0]]
data

                             all_combos  sharpe_ratio
0             [1, 100, 1, 0.0001, 0.01]     12.902397
1    [100, 10000, 100, 0.0001, -0.0001]     12.902397
2       [100, 10000, 100, -0.01, -0.01]     12.902397
3          [100, 10000, 100, -0.01, -1]     12.902397
4      [100, 10000, 100, -0.01, 0.0001]     12.902397
5        [100, 10000, 100, -0.01, 0.01]     12.902397
6           [1, 100, 1, -0.0001, -0.01]     12.902397
7         [1, 100, 1, -0.0001, -0.0001]     12.902397
8        [100, 10000, 100, -1, -0.0001]     12.902397
9          [100, 10000, 100, -1, -0.01]     12.902397
10            [100, 10000, 100, -1, -1]     12.902397
11        [100, 10000, 100, -1, 0.0001]     12.902397
12          [100, 10000, 100, -1, 0.01]     12.902397
13             [100, 10000, 100, -1, 1]     12.902397
14     [100, 10000, 100, 0.0001, -0.01]     12.902397
15        [100, 10000, 100, -0.0001, 1]     12.902397
16        [100, 10000, 100, 0.0001, -1]     12.902397
17    [100, 10000, 100, 0.0001, 0.0001]     12.902397
18      [100, 10000, 100, 0.0001, 0.01]     12.902397
19         [100, 10000, 100, 0.0001, 1]     12.902397
20     [100, 10000, 100, 0.01, -0.0001]     12.902397
21       [100, 10000, 100, 0.01, -0.01]     12.902397
22     [0.01, 1, 0.01, -0.0001, 0.0001]     12.902397
23          [100, 10000, 100, 0.01, -1]     12.902397
24      [100, 10000, 100, 0.01, 0.0001]     12.902397
25    [0.01, 1, 0.01, -0.0001, -0.0001]     12.902397
26        [100, 10000, 100, 0.01, 0.01]     12.902397
27           [100, 10000, 100, 0.01, 1]     12.902397
28    [100, 10000, 100, -0.01, -0.0001]     12.902397
29          [100, 10000, 100, -0.01, 1]     12.902397
30          [1, 100, 1, -0.01, -0.0001]     12.902397
31             [1, 100, 1, -0.01, 0.01]     12.902397
32            [1, 100, 1, -0.01, -0.01]     12.902397
33         [1, 100, 1, 0.0001, -0.0001]     12.902397
34          [1, 100, 1, 0.0001, 0.0001]     12.902397
35           [1, 100, 1, -0.0001, 0.01]     12.902397
36         [1, 100, 1, -0.0001, 0.0001]     12.902397
37  [100, 10000, 100, -0.0001, -0.0001]     12.902397
38           [1, 100, 1, -0.01, 0.0001]     12.902397
39    [100, 10000, 100, -0.0001, -0.01]     12.902397
40     [100, 10000, 100, -0.0001, 0.01]     12.902397
41       [100, 10000, 100, -0.0001, -1]     12.902397
42   [100, 10000, 100, -0.0001, 0.0001]     12.902397
43           [1, 100, 1, 0.0001, -0.01]     12.902397

In [5]:
combos = list(data['all_combos'])

In [6]:
str_combos = [combo.strip('[]').split(',') for combo in combos]

In [7]:
float_combos = list()
for combo in str_combos:
    tmp = [float(x.strip(' ')) for x in combo]
    float_combos.append(tmp)

In [8]:
remove_ratio = list()
for combo in float_combos:
    tmp = [x/combo[0] for x in combo]
    if combo[0] > 0:
        ratio = 1
    else:
        ratio = -1
    tmp.append(ratio)
    remove_ratio.append(tmp)

In [9]:
a1 = [x[0] for x in remove_ratio]
a2 = [x[1] for x in remove_ratio]
a3 = [x[2] for x in remove_ratio]
a4 = [x[3] for x in remove_ratio]
a5 = [x[4] for x in remove_ratio]
ratio = [x[5] for x in remove_ratio]

remove_ratio_df = pd.DataFrame({'Sharpe': a1, 'Hist corr rev': a2, 'growth': a3, 'loyalty':a4, 'persona':a5, 'ratio': ratio})

In [10]:
remove_ratio_df.sort_values(by=['Hist corr rev', 'growth', 'loyalty', 'persona', 'ratio']).drop_duplicates()

    Sharpe  Hist corr rev  growth   loyalty   persona  ratio
10     1.0          100.0     1.0 -0.010000 -0.010000      1
9      1.0          100.0     1.0 -0.010000 -0.000100      1
8      1.0          100.0     1.0 -0.010000 -0.000001      1
11     1.0          100.0     1.0 -0.010000  0.000001      1
12     1.0          100.0     1.0 -0.010000  0.000100      1
13     1.0          100.0     1.0 -0.010000  0.010000      1
3      1.0          100.0     1.0 -0.000100 -0.010000      1
2      1.0          100.0     1.0 -0.000100 -0.000100      1
28     1.0          100.0     1.0 -0.000100 -0.000001      1
4      1.0          100.0     1.0 -0.000100  0.000001      1
5      1.0          100.0     1.0 -0.000100  0.000100      1
29     1.0          100.0     1.0 -0.000100  0.010000      1
41     1.0          100.0     1.0 -0.000001 -0.010000      1
39     1.0          100.0     1.0 -0.000001 -0.000100      1
37     1.0          100.0     1.0 -0.000001 -0.000001      1
42     1.0          100.0     1.0 -0.000001  0.000001      1
40     1.0          100.0     1.0 -0.000001  0.000100      1
15     1.0          100.0     1.0 -0.000001  0.010000      1
16     1.0          100.0     1.0  0.000001 -0.010000      1
14     1.0          100.0     1.0  0.000001 -0.000100      1
1      1.0          100.0     1.0  0.000001 -0.000001      1
17     1.0          100.0     1.0  0.000001  0.000001      1
18     1.0          100.0     1.0  0.000001  0.000100      1
19     1.0          100.0     1.0  0.000001  0.010000      1
23     1.0          100.0     1.0  0.000100 -0.010000      1
21     1.0          100.0     1.0  0.000100 -0.000100      1
20     1.0          100.0     1.0  0.000100 -0.000001      1
24     1.0          100.0     1.0  0.000100  0.000001      1
26     1.0          100.0     1.0  0.000100  0.000100      1
0      1.0          100.0     1.0  0.000100  0.010000      1

In [11]:
remove_ratio_df.sort_values(by=['Hist corr rev', 'growth', 'loyalty', 'persona']).drop_duplicates().to_csv('../data/tuning/5_vars_SharpeCorrGrowthLoyalPersona_top.csv', index=False)