In [13]:
from pyspark.sql import SparkSession
from pyspark.sql import functions as F
import pandas as pd

In [2]:
spark = (
    SparkSession.builder.appName("preprocessing of taxi data")
    .config("spark.sql.repl.eagerEval.enabled", True) 
    .config("spark.sql.parquet.cacheMetadata", "true")
    .config("spark.sql.session.timeZone", "Etc/UTC")
    .config("spark.driver.memory", "15g")
    .getOrCreate()
)

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/09/01 08:30:11 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [24]:
merchant_sdf = spark.read.parquet("../data/tables/tbl_merchants.parquet")
consumer_detail_sdf = spark.read.parquet("../data/tables/consumer_user_details.parquet")
consumer_sdf = spark.read.option("header",True) \
                         .option("inferSchema",True) \
                         .options(delimiter='|') \
                         .csv("../data/tables/tbl_consumer.csv")
transaction_sdf = spark.read.parquet("../data/tables/transactions_20210228_20210827_snapshot")

# Transaction dataset
- should be our main focus in terms on analysing the number of transactions related to each customer and each merchant
- could be joined to consumer_detail by using user_id and consumer_id with the help of tbl_consumer
- join merchant on merchant abn (should be unique by personal knowledge)

In [8]:
transaction_sdf.orderBy(F.column("order_datetime"))

+-------+------------+------------------+--------------------+--------------+
|user_id|merchant_abn|      dollar_value|            order_id|order_datetime|
+-------+------------+------------------+--------------------+--------------+
|     11| 20692490685|196.93916081228323|09bc8dd6-419f-4cb...|    2021-02-28|
|      5| 83177825742| 66.66426160206629|43e3b3fe-791b-47f...|    2021-02-28|
|  18495| 66667026714|  48.3228941934147|ca150cbf-6e34-489...|    2021-02-28|
|  18489| 43186523025| 98.14878546968934|9008a98e-1b02-4de...|    2021-02-28|
|  18491| 64974914166|130.12601873970038|4bc15338-83eb-43d...|    2021-02-28|
|  18493| 67979471799| 53.03432496202065|dd61feff-5aa3-43d...|    2021-02-28|
|     11| 98269572896|129.46280909485031|8f5d0cab-8055-435...|    2021-02-28|
|  18485| 62191208634| 79.13140006851712|9e18b913-0465-4fd...|    2021-02-28|
|      2| 80779820715| 48.12397733548124|cd09bdd6-f56d-489...|    2021-02-28|
|  18490| 93558142492|232.83335268750145|2bda0665-796f-4f2...|    2021-02-28|
|      3| 32361057556| 87.34942171371054|633a7656-2fcc-4b8...|    2021-02-28|
|  18493| 43186523025| 69.75645555605993|6c494428-b293-459...|    2021-02-28|
|      6| 21772962346|113.04510652600983|000ca5ac-3247-4ef...|    2021-02-28|
|      7| 66079287213| 89.93535555889761|50a5619d-0647-487...|    2021-02-28|
|  18494| 49891706470|21.995368431723854|faac27e9-c054-44d...|    2021-02-28|
|      1| 28000487688|133.22689421562643|0c37b3f7-c7f1-48c...|    2021-02-28|
|     12| 95508140753|  79.1030216530725|17b4325f-65a5-45e...|    2021-02-28|
|      1| 83690644458|30.441348317517228|40a2ff69-ea34-465...|    2021-02-28|
|  18488| 39649557865| 962.8133405407585|f4c1a5ae-5b76-40d...|    2021-02-28|
|      3| 29566626791| 46.33087226118639|26b7574e-81c2-455...|    2021-02-28|
+-------+------------+------------------+--------------------+--------------+
only showing top 20 rows

In [30]:
merchant_sdf

DataFrame[name: string, tags: string, merchant_abn: bigint]

In [29]:
merchant_sdf.select(F.col("tags")).take(1)

[Row(tags='((furniture, home furnishings and equipment shops, and manufacturers, except appliances), (e), (take rate: 0.18))')]

In [11]:
consumer_detail_sdf

+-------+-----------+
|user_id|consumer_id|
+-------+-----------+
|      1|    1195503|
|      2|     179208|
|      3|    1194530|
|      4|     154128|
|      5|     712975|
|      6|     407340|
|      7|     511685|
|      8|     448088|
|      9|     650435|
|     10|    1058499|
|     11|     428325|
|     12|    1494640|
|     13|    1146717|
|     14|    1343547|
|     15|    1463076|
|     16|    1356405|
|     17|    1331093|
|     18|      80965|
|     19|    1226530|
|     20|    1390367|
+-------+-----------+
only showing top 20 rows

In [25]:
consumer_sdf

+-----------------+--------------------+-----+--------+-----------+-----------+
|             name|             address|state|postcode|     gender|consumer_id|
+-----------------+--------------------+-----+--------+-----------+-----------+
| Yolanda Williams|413 Haney Gardens...|   WA|    6935|     Female|    1195503|
|       Mary Smith|     3764 Amber Oval|  NSW|    2782|     Female|     179208|
|    Jill Jones MD|  40693 Henry Greens|   NT|     862|     Female|    1194530|
|  Lindsay Jimenez|00653 Davenport C...|  NSW|    2780|     Female|     154128|
|Rebecca Blanchard|9271 Michael Mano...|   WA|    6355|     Female|     712975|
|    Karen Chapman|2706 Stewart Oval...|  NSW|    2033|     Female|     407340|
|     Andrea Jones|   122 Brandon Cliff|  QLD|    4606|     Female|     511685|
| Stephen Williams|6804 Wright Crest...|   WA|    6056|       Male|     448088|
|  Stephanie Reyes|5813 Denise Land ...|  NSW|    2482|     Female|     650435|
| Jillian Gonzales|461 Ryan Common S...|  VIC|    3220|     Female|    1058499|
|     Eugene Lucas|33983 Kevin Drive...|  VIC|    3063|Undisclosed|     428325|
|    Melissa Jones| 13706 Kimberly Port|   WA|    6743|     Female|    1494640|
| Angela Brown PhD|0236 Mills Land S...|  QLD|    4673|     Female|    1146717|
|     Lance Butler|   8943 Kenneth Camp|  VIC|    3332|       Male|    1343547|
|      Paul Abbott|     60495 Ryan Hill|  QLD|    4512|       Male|    1463076|
|       Tracy Hart|9671 Jacob Harbor...|  NSW|    2452|       Male|    1356405|
|    Alyssa Wilson|  44353 Nathan Ridge|  VIC|    3719|     Female|    1331093|
|  Michael Burnett|   89400 Torres Fort|  NSW|    1109|       Male|      80965|
|Victoria Gonzalez|68657 Johnson Gle...|  TAS|    7276|     Female|    1226530|
|     James Norris|   790 Ramos Landing|  VIC|    3234|Undisclosed|    1390367|
+-----------------+--------------------+-----+--------+-----------+-----------+
only showing top 20 rows

In [47]:
consumer_detail_sdf.printSchema()

root
 |-- user_id: long (nullable = true)
 |-- consumer_id: long (nullable = true)

In [45]:
transaction_sdf.select(F.col("user_id")).count()

3643266

In [34]:
consumer_sdf.filter(consumer_sdf["consumer_id"].isNull()).count()

0

In [35]:
consumer_detail_sdf.filter(consumer_detail_sdf["consumer_id"].isNull()).count()

0

In [36]:
consumer_detail_sdf.filter(consumer_detail_sdf["user_id"].isNull()).count()

0