# å¾ˆæŠ±æ­‰ï¼Œé€™å€‹notebookæˆ‘ä¹Ÿå¿˜è¨˜ç”¨åœ¨å“ªäº† ðŸ˜¢

# Aggregate average monthly transaction amounts for each merchant

## Pyspark set up

In [10]:
from pyspark.sql import SparkSession
from pyspark.sql import functions as F

In [11]:
spark = (
    SparkSession.builder.appName("preprocessing of taxi data")
    .config("spark.sql.repl.eagerEval.enabled", True) 
    .config("spark.sql.parquet.cacheMetadata", "true")
    .config("spark.sql.session.timeZone", "Etc/UTC")
    .config("spark.driver.memory", "15g")
    .getOrCreate()
)

## Read in data
### Data relating to each transaction

In [12]:
transaction_20210828_20220227_sdf = spark.read.parquet("../data/curated/transactions_20210828_20220227")

### Giving each records the year and month it is happening

In [13]:
data = transaction_20210828_20220227_sdf.withColumn("Year", F.year("order_datetime"))\
        .withColumn("Month", F.month("order_datetime"))

## Aggregation
### Group transaction records of each merchant by its year and month
#### Find total sale amounts, number of transactions and number of customers
1\. total sale amounts == sum_transactions \
2\. number of transactions == number_of_customers \
3\. number of customers == distinct_customers

In [14]:
transact_agg_by_month = data.groupBy("Year", "Month", "merchant_abn")\
        .agg(F.sum("dollar_value")\
        .alias("sum_transactions"), \
         F.count("order_id").alias("number_of_customers"), \
         F.countDistinct("user_id").alias("distinct_customers"))

In [15]:
transact_agg_by_month

+----+-----+------------+------------------+-------------------+------------------+
|Year|Month|merchant_abn|  sum_transactions|number_of_customers|distinct_customers|
+----+-----+------------+------------------+-------------------+------------------+
|2021|    9| 20569508100|10099.236167068768|                131|               131|
|2021|   12| 19933438190| 65121.04160676313|               4671|              4245|
|2021|   10| 46970913786| 39502.63705626766|                202|               197|
|2021|   10| 71247553576| 79348.37054465171|                238|               236|
|2021|   12| 96965554802|13385.328780379374|                110|               110|
|2021|   11| 67915848101|56376.517798328365|                156|               156|
|2021|   11| 90543168331| 636310.2107110615|               2444|              2337|
|2022|    1| 22033359776|356058.72007584944|                926|               913|
|2022|    1| 99976658299|134429.57385066163|                882|               868|
|2021|    9| 72553304202| 21054.74136332652|                329|               328|
|2021|   12| 96794593428|2206.4026651939894|                 42|                42|
|2021|   10| 11121775571| 53865.33424502838|               1011|               990|
|2021|   12| 57289898526|42782.129871292746|                574|               567|
|2021|   12| 68950900599| 45699.50522523483|                262|               259|
|2021|   10| 39060546194| 64845.12960057286|                139|               139|
|2021|   10| 27086915609| 35873.50347123839|                188|               188|
|2021|    9| 41271931352| 164377.6867224149|                398|               393|
|2021|   12| 91418529927|189471.00864158053|                378|               377|
|2021|   12| 83323591742| 75398.38533152695|                167|               167|
|2022|    1| 24123600795|22817.363030517277|                 34|                34|
+----+-----+------------+------------------+-------------------+------------------+
only showing top 20 rows

### Group overall transactions for a merchant

In [33]:
transact_agg_by_monthly_average = transact_agg_by_month.groupby("merchant_abn")\
    .agg(F.count("Month").alias("Number_of_Month"),\
    F.sum("sum_transactions").alias("total_trans"))

### Find the average monthly transaction money

In [34]:
final_df = transact_agg_by_monthly_average.withColumn('average_monthly_transaction', transact_agg_by_monthly_average.total_trans/transact_agg_by_monthly_average.Number_of_Month)