In [1]:
# import libraries
from gettext import npgettext
import pandas as pd
from pyspark.sql import SparkSession
from pyspark.sql import functions as F
import numpy as np
from statistics import mean, stdev

import json

In [2]:
# setup spark
spark = (
    SparkSession.builder.appName("aggregate data for first 3 final model variables")
    .config("spark.sql.repl.eagerEval.enabled", True) 
    .config("spark.sql.parquet.cacheMetadata", "true")
    .config("spark.sql.session.timeZone", "Etc/UTC")
    .config("spark.driver.memory", "15g")
    .getOrCreate()
)

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/09/22 15:45:16 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
22/09/22 15:45:17 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [3]:
# import data
data1 = spark.read.parquet("../data/tables/transactions_20210228_20210827_snapshot/")
data2 = spark.read.parquet("../data/tables/transactions_20210828_20220227_snapshot/")
data3 = spark.read.parquet("../data/tables/transactions_20220228_20220828_snapshot/")

In [4]:
consumer_lookup = spark.read.parquet("../data/tables/consumer_user_details.parquet")
consumer_data = spark.read.option("header",True) \
                         .option("inferSchema",True) \
                         .options(delimiter='|') \
                         .csv("../data/tables/tbl_consumer.csv")

In [5]:
data = data1.union(data2)
data = data.union(data3)

In [6]:
data = data.filter(data["order_datetime"] >= F.lit('2021-03-01')) \
       .filter(data["order_datetime"] <= F.lit('2022-08-14'))

data = data.withColumn("Week", F.weekofyear("order_datetime"))\
        .withColumn("Year", F.year("order_datetime"))\
        .withColumn("Month", F.month("order_datetime"))\
        .withColumn("Day", F.dayofmonth("order_datetime"))\
        .withColumn("Fortnight", ((F.col("Week")+1)/2).cast('int'))

In [7]:
consumer_data

+-----------------+--------------------+-----+--------+-----------+-----------+
|             name|             address|state|postcode|     gender|consumer_id|
+-----------------+--------------------+-----+--------+-----------+-----------+
| Yolanda Williams|413 Haney Gardens...|   WA|    6935|     Female|    1195503|
|       Mary Smith|     3764 Amber Oval|  NSW|    2782|     Female|     179208|
|    Jill Jones MD|  40693 Henry Greens|   NT|     862|     Female|    1194530|
|  Lindsay Jimenez|00653 Davenport C...|  NSW|    2780|     Female|     154128|
|Rebecca Blanchard|9271 Michael Mano...|   WA|    6355|     Female|     712975|
|    Karen Chapman|2706 Stewart Oval...|  NSW|    2033|     Female|     407340|
|     Andrea Jones|   122 Brandon Cliff|  QLD|    4606|     Female|     511685|
| Stephen Williams|6804 Wright Crest...|   WA|    6056|       Male|     448088|
|  Stephanie Reyes|5813 Denise Land ...|  NSW|    2482|     Female|     650435|
| Jillian Gonzales|461 Ryan Common S...|  VIC|    3220|     Female|    1058499|
|     Eugene Lucas|33983 Kevin Drive...|  VIC|    3063|Undisclosed|     428325|
|    Melissa Jones| 13706 Kimberly Port|   WA|    6743|     Female|    1494640|
| Angela Brown PhD|0236 Mills Land S...|  QLD|    4673|     Female|    1146717|
|     Lance Butler|   8943 Kenneth Camp|  VIC|    3332|       Male|    1343547|
|      Paul Abbott|     60495 Ryan Hill|  QLD|    4512|       Male|    1463076|
|       Tracy Hart|9671 Jacob Harbor...|  NSW|    2452|       Male|    1356405|
|    Alyssa Wilson|  44353 Nathan Ridge|  VIC|    3719|     Female|    1331093|
|  Michael Burnett|   89400 Torres Fort|  NSW|    1109|       Male|      80965|
|Victoria Gonzalez|68657 Johnson Gle...|  TAS|    7276|     Female|    1226530|
|     James Norris|   790 Ramos Landing|  VIC|    3234|Undisclosed|    1390367|
+-----------------+--------------------+-----+--------+-----------+-----------+
only showing top 20 rows

In [8]:
join_df = data.join(consumer_lookup,["user_id"])
join_df = join_df.join(consumer_data, ["consumer_id"])

In [9]:
join_df.select("merchant_abn","order_id","Week","Year","Month","Day","Fortnight","state","postcode")

+------------+--------------------+----+----+-----+---+---------+-----+--------+
|merchant_abn|            order_id|Week|Year|Month|Day|Fortnight|state|postcode|
+------------+--------------------+----+----+-----+---+---------+-----+--------+
| 68216911708|c921263e-489e-45a...|  33|2021|    8| 21|       17|  NSW|    2021|
| 77698107389|aaea14f5-48e8-4ef...|  33|2021|    8| 21|       17|  NSW|    2021|
| 46451548968|7e8e7fca-04a1-4f2...|  33|2021|    8| 19|       17|  NSW|    2021|
| 35556933338|13b0be6a-20b7-439...|  33|2021|    8| 22|       17|  NSW|    2021|
| 91772719127|3750984f-4313-47d...|  32|2021|    8| 14|       16|  NSW|    2021|
| 29216160692|f5917c53-caca-4b6...|  32|2021|    8| 15|       16|  NSW|    2021|
| 32234779638|b9423d5c-9083-4e6...|  28|2021|    7| 15|       14|  NSW|    2021|
| 68216911708|94fbe85c-434a-4e6...|  28|2021|    7| 15|       14|  NSW|    2021|
| 75034515922|12e4b9c7-1738-481...|  28|2021|    7| 15|       14|  NSW|    2021|
| 24852446429|8e65c8ee-67f1-411...|  33|2021|    8| 16|       17|  NSW|    2021|
| 60111071436|5f7d4237-81ca-4e7...|  34|2021|    8| 27|       17|  NSW|    2021|
| 22019664345|d0a09e6d-27b9-445...|  29|2021|    7| 23|       15|  NSW|    2021|
| 23338656015|8104669d-ccf3-43a...|  29|2021|    7| 23|       15|  NSW|    2021|
| 94472466107|2d9872f8-7bfb-4b9...|  20|2021|    5| 21|       10|  NSW|    2021|
| 79645157255|81b41437-e167-419...|  20|2021|    5| 21|       10|  NSW|    2021|
| 75244502629|2ced6917-a1d6-4b3...|  20|2021|    5| 21|       10|  NSW|    2021|
| 25884436429|dd12bbf6-44ec-42a...|  30|2021|    7| 30|       15|  NSW|    2021|
| 29936037423|2e825100-9a9c-447...|  21|2021|    5| 28|       11|  NSW|    2021|
| 89726005175|818c3807-db8f-47a...|  34|2021|    8| 26|       17|  NSW|    2021|
| 68216911708|ef47dcdf-e73e-437...|  25|2021|    6| 25|       13|  NSW|    2021|
+------------+--------------------+----+----+-----+---+---------+-----+--------+
only showing top 20 rows

In [38]:
join_df.describe()

+-------+-----------------+------------------+--------------------+--------------------+--------------------+------------------+-------------------+------------------+------------------+------------------+------------+--------------------+--------+------------------+-----------+
|summary|      consumer_id|           user_id|        merchant_abn|        dollar_value|            order_id|              Week|               Year|             Month|               Day|         Fortnight|        name|             address|   state|          postcode|     gender|
+-------+-----------------+------------------+--------------------+--------------------+--------------------+------------------+-------------------+------------------+------------------+------------------+------------+--------------------+--------+------------------+-----------+
|  count|         12157084|          12157084|            12157084|            12157084|            12157084|          12157084|           12157084|          12157084|          12157084|          12157084|    12157084|            12157084|12157084|          12157084|   12157084|
|   mean| 753256.278102216|12039.659402287589|5.542397773206698...|  166.35215026470865|                null| 26.48216373268458| 2021.4182861613854| 6.562012897171723|15.814851571314305|13.491465469844577|        null|                null|    null|4043.3039628581987|       null|
| stddev|435525.6477490294| 6951.602269350454|2.532751109873882E10|   520.5260587786956|                null|13.602001831795453|0.49327767899407055|3.1197910160833513| 8.804069186278074| 6.799815171682457|        null|                null|    null|1780.7825684916559|       null|
|    min|               30|                 1|         10023283211|9.756658099412162E-8|000000d4-d252-4e2...|                 1|               2021|                 1|                 1|                 1|Aaron Adkins|000 Barnes Missio...|     ACT|               200|     Female|
|    max|          1499867|             24081|         99990536339|  105193.88578925544|fffffca5-42ab-49d...|                52|               2022|                12|                31|                26| Zoe Randall| 99994 Krystal Views|      WA|              9999|Undisclosed|
+-------+-----------------+------------------+--------------------+--------------------+--------------------+------------------+-------------------+------------------+------------------+------------------+------------+--------------------+--------+------------------+-----------+

In [10]:
# Since some postcodes are not included in the ABS data, we decide to remove them 
abs_df = spark.read.csv("../data/curated/abs_cleaned.csv", header = 'True')

In [15]:
abs_postcode = abs_df.select('_c0').rdd.map(lambda x : x[0]).collect()

22/09/22 15:47:44 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header:
 Schema: _c0
Expected: _c0 but found:
CSV file: file:///Users/liyujie/Documents/GitHub/generic-buy-now-pay-later-project-group-8/data/curated/abs_cleaned.csv

In [17]:
len(abs_postcode)

2653

In [31]:
# join_df.createOrReplaceTempView("joindf")
# spark.sql(f"""SELECT * FROM joindf 
# WHERE postcode IN abs_postcode""").show()

from pyspark.sql.functions import col
new_join = join_df.where((join_df.postcode).isin(abs_postcode))

In [37]:
new_join.describe()

+-------+-----------------+------------------+--------------------+--------------------+--------------------+------------------+------------------+-----------------+------------------+------------------+------------+--------------------+--------+------------------+-----------+
|summary|      consumer_id|           user_id|        merchant_abn|        dollar_value|            order_id|              Week|              Year|            Month|               Day|         Fortnight|        name|             address|   state|          postcode|     gender|
+-------+-----------------+------------------+--------------------+--------------------+--------------------+------------------+------------------+-----------------+------------------+------------------+------------+--------------------+--------+------------------+-----------+
|  count|         10195679|          10195679|            10195679|            10195679|            10195679|          10195679|          10195679|         10195679|          10195679|          10195679|    10195679|            10195679|10195679|          10195679|   10195679|
|   mean|753000.6175025714|12047.437289463507|5.541979538973208E10|   166.4153065535396|                null|26.482729497466526| 2021.418212558477|6.562021715277619|15.815977827469853|13.491726838398895|        null|                null|    null| 4180.279968504305|       null|
| stddev|435169.9042534198| 6950.053310956647|2.532609365166996...|   520.7606355108969|                null|13.601691628789439|0.4932654845752156|3.119715775658305| 8.804177163653394| 6.799678425810775|        null|                null|    null|1521.0228576143002|       null|
|    min|               30|                 2|         10023283211|9.756658099412162E-8|000000d4-d252-4e2...|                 1|              2021|                1|                 1|                 1|Aaron Adkins|000 Barnes Missio...|     ACT|               800|     Female|
|    max|          1499861|             24081|         99990536339|  105193.88578925544|fffffca5-42ab-49d...|                52|              2022|               12|                31|                26| Zoe Randall|   9999 Brenda Hills|      WA|              7470|Undisclosed|
+-------+-----------------+------------------+--------------------+--------------------+--------------------+------------------+------------------+-----------------+------------------+------------------+------------+--------------------+--------+------------------+-----------+

# Groupby forenightly and store the forenighlty order postcodes

In [39]:
data_by_fornight = new_join.groupBy("Fortnight","merchant_abn","postcode")\
    .agg(F.count("order_id").alias("count_postcode_merchant"))

In [40]:
data_by_fornight

+---------+------------+--------+-----------------------+
|Fortnight|merchant_abn|postcode|count_postcode_merchant|
+---------+------------+--------+-----------------------+
|       17| 26925196872|    4361|                      1|
|       17| 52959528548|    6327|                      1|
|       17| 24852446429|    4571|                      1|
|       17| 17324645993|    5434|                      2|
|       17| 84088835754|    4384|                      1|
|       17| 91848160033|    3005|                      1|
|       17| 53003062892|    4350|                      1|
|       17| 68289707002|    3669|                      1|
|       17| 54291122944|    4480|                      1|
|       17| 81761494572|    5011|                      1|
|       17| 37459245212|    3154|                      1|
|       17| 71094934182|    2623|                      1|
|       17| 49125619545|    7026|                      1|
|       17| 62224020443|    3342|                      1|
|       17| 49891706470|    2838|                      1|
|       17| 29362189014|    2450|                      1|
|       17| 82368304209|    6323|                      2|
|       17| 68828285855|    3037|                      1|
|       17| 92899421466|    4074|                      1|
|       17| 93532380797|    6167|                      2|
+---------+------------+--------+-----------------------+
only showing top 20 rows

In [41]:
totalorder_perfor_merchant = new_join.groupBy("Fortnight","merchant_abn")\
    .agg(F.count("order_id").alias("total_order_per_fornight"))

In [42]:
totalorder_perfor_merchant

+---------+------------+------------------------+
|Fortnight|merchant_abn|total_order_per_fornight|
+---------+------------+------------------------+
|       17| 47086412084|                    1055|
|       17| 27093785141|                     480|
|       17| 93558142492|                     425|
|       17| 26169574842|                     185|
|       17| 41170595493|                     131|
|       17| 63344521351|                      48|
|       17| 79830510987|                      51|
|       17| 12426913844|                      32|
|       17| 31003199153|                       4|
|       17| 47856542678|                     166|
|       17| 13830448327|                      77|
|       17| 40561597210|                       5|
|       17| 48646476949|                      10|
|       17| 18525353549|                      24|
|       17| 93018282444|                       4|
|       17| 97443126375|                       5|
|       17| 50766787885|                       7|
|       17| 47830349274|                      11|
|       16| 80982848464|                     332|
|       16| 66161087361|                      42|
+---------+------------+------------------------+
only showing top 20 rows

In [43]:
# data_by_fornight.withColumn("postcode_dict",F.to_json(F.struct("postcode", "count_postcode_merchant"))).show(truncate=False)
cond = ["merchant_abn","Fortnight"]
data_by_fornight = data_by_fornight.join(totalorder_perfor_merchant, cond, "inner")

In [56]:
data_by_fornight = data_by_fornight.withColumn("proportion_of_postcode", (data_by_fornight.count_postcode_merchant/data_by_fornight.total_order_per_fornight))

In [60]:
data_by_fornight.toPandas().to_csv('../data/curated/Grouping.csv', index = False)

22/09/22 18:33:19 WARN HeartbeatReceiver: Removing executor driver with no recent heartbeats: 1020894 ms exceeds timeout 120000 ms
22/09/22 18:33:19 WARN SparkContext: Killing executors is not supported by current scheduler.
22/09/23 13:44:49 WARN TransportChannelHandler: Exception in connection from /192.168.120.78:52086
java.io.IOException: Operation timed out
	at java.base/sun.nio.ch.FileDispatcherImpl.read0(Native Method)
	at java.base/sun.nio.ch.SocketDispatcher.read(SocketDispatcher.java:39)
	at java.base/sun.nio.ch.IOUtil.readIntoNativeBuffer(IOUtil.java:276)
	at java.base/sun.nio.ch.IOUtil.read(IOUtil.java:233)
	at java.base/sun.nio.ch.IOUtil.read(IOUtil.java:223)
	at java.base/sun.nio.ch.SocketChannelImpl.read(SocketChannelImpl.java:356)
	at io.netty.buffer.PooledByteBuf.setBytes(PooledByteBuf.java:258)
	at io.netty.buffer.AbstractByteBuf.writeBytes(AbstractByteBuf.java:1132)
	at io.netty.channel.socket.nio.NioSocketChannel.doReadBytes(NioSocketChannel.java:350)
	at io.netty.channel.nio.AbstractNioByteChannel$NioByteUnsafe.read(AbstractNioByteChannel.java:151)
	at io.netty.channel.nio.NioEventLoop.processSelectedKey(NioEventLoop.java:722)
	at io.netty.channel.nio.NioEventLoop.processSelectedKeysOptimized(NioEventLoop.java:658)
	at io.netty.channel.nio.NioEventLoop.processSelectedKeys(NioEventLoop.java:584)
	at io.netty.channel.nio.NioEventLoop.run(NioEventLoop.java:496)
	at io.netty.util.concurrent.SingleThreadEventExecutor$4.run(SingleThreadEventExecutor.java:986)
	at io.netty.util.internal.ThreadExecutorMap$2.run(ThreadExecutorMap.java:74)
	at io.netty.util.concurrent.FastThreadLocalRunnable.run(FastThreadLocalRunnable.java:30)
	at java.base/java.lang.Thread.run(Thread.java:829)

In [57]:
data_by_fornight

+------------+---------+--------+-----------------------+------------------------+----------------------+
|merchant_abn|Fortnight|postcode|count_postcode_merchant|total_order_per_fornight|proportion_of_postcode|
+------------+---------+--------+-----------------------+------------------------+----------------------+
| 10206519221|        1|    6068|                      1|                     151|  0.006622516556291391|
| 10206519221|        1|    2565|                      1|                     151|  0.006622516556291391|
| 10206519221|        1|    6411|                      1|                     151|  0.006622516556291391|
| 10206519221|        1|    5372|                      1|                     151|  0.006622516556291391|
| 10206519221|        1|    6438|                      1|                     151|  0.006622516556291391|
| 10206519221|        1|    2753|                      1|                     151|  0.006622516556291391|
| 10206519221|        1|    4072|                      1|                     151|  0.006622516556291391|
| 10206519221|        1|    4673|                      1|                     151|  0.006622516556291391|
| 10206519221|        1|    3920|                      1|                     151|  0.006622516556291391|
| 10206519221|        1|    6227|                      1|                     151|  0.006622516556291391|
| 10206519221|        1|    6153|                      1|                     151|  0.006622516556291391|
| 10206519221|        1|    2707|                      1|                     151|  0.006622516556291391|
| 10206519221|        1|    4713|                      1|                     151|  0.006622516556291391|
| 10206519221|        1|    2765|                      2|                     151|  0.013245033112582781|
| 10206519221|        1|    3589|                      1|                     151|  0.006622516556291391|
| 10206519221|        1|    6701|                      1|                     151|  0.006622516556291391|
| 10206519221|        1|    7184|                      1|                     151|  0.006622516556291391|
| 10206519221|        1|    4694|                      1|                     151|  0.006622516556291391|
| 10206519221|        1|    3758|                      1|                     151|  0.006622516556291391|
| 10206519221|        1|    4680|                      1|                     151|  0.006622516556291391|
+------------+---------+--------+-----------------------+------------------------+----------------------+
only showing top 20 rows